pipeline/COPY_SELECT_FILTER.json
{
	"name": "COPY_SELECT_FILTER",
	"properties": {
		"activities": [
			{
				"name": "SELECT_TABLE",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "ls_azure_sqldatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": "Select \n* \nFrom SalesLT.TB_ADF_SCRIPT_ACTIVITY"
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "SELECT_TABLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('SELECT_TABLE').output.resultSets[0]['rows']",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "PIPELINES_ACTIVITIES_23022"
		},
		"annotations": []
	}
}