pipeline/COPY_LOOKUPCONTROLLER_FILTER_FOREACH.json
{
	"name": "COPY_LOOKUPCONTROLLER_FILTER_FOREACH",
	"properties": {
		"activities": [
			{
				"name": "Lookup Controller",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_generico_delimited_text",
						"type": "DatasetReference",
						"parameters": {
							"container_name": "fileslucas",
							"directory_name": "controller",
							"file_name": "controller_tables.csv",
							"separator_name": ";"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter load table 1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup Controller",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Controller').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().load_table,'1')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter load table 1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter load table 1').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"folder": {
			"name": "PIPELINES_ACTIVITIES_23022"
		},
		"annotations": []
	}
}